bin/
*.env
!.env.example
*.pem
coverage.out
coverage.html
vendor/
keys
idp-archive/
.DS_Store
# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local
*.tsbuildinfo
.tanstack
/target/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
mocks/
.serena/

# Hugo
docs/public/
docs/resources/_gen/
docs/.hugo_build.lock
